#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
/* Apply globally for HTML text if needed */
body {
  font-family: "ElderGodsBB", sans-serif;
}

@font-face {
  font-family: "ElderGodsBB";
  src: url("/fonts/ElderGodsBB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

